# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Poetry/pip
.cache/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Test artifacts
report.xml
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/
